.git
.github

# dependencies
**/node_modules
**/.pnp
**/.pnp.js

# testing
**/coverage

# next.js
**/.swc
**/.turbo
**/.next
**/out

# production
**/build
**/dist

# misc
**/.DS_Store
**/*.pem

# debug
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# local env files
**/.env*.local

# vercel
**/.vercel

# typescript
**/*.tsbuildinfo
**/next-env.d.ts

**/.gitignore
**/README.md
**/TODO*

**/Dockerfile*

# no go project here, use a different Dockerfile and ignore for it
go-backend
